{% extends "base/layout.html" %}

{% block content %}
    <div class="mt-5 text-center">
        {% if error_class_name == "MissingContestantList" %}
            <h2 class="text-danger">Chybí seznam účastníků</h2>
            <p class="lead">
                Nepodařilo se najít list se seznamem účastníků. Ujistěte se, že je v tabulce vytvořený a se správným
                názvem.
            </p>
        {% elif error_class_name == "MalformedTableData" %}
            <h2 class="text-danger">Rozbitá tabulka</h2>
            <p class="lead">
                Data v připojené tabulce pravděpodobně nejsou ve správném formátu.
            </p>

        {% elif error_class_name == "ContestantDuplicity" %}
            <h2 class="text-danger">Opakující se jméno účastníka</h2>
            <p class="lead">
                V seznamu účastníku se některé jméno vyskytuje víc než jednou. Zkontrolujte, že nejde o chybu.
                V případě účasti více osob stejného jména, je potřeba je odlišit (např. přidáním přezdívky).
            </p>

        {% elif error_class_name == "UnknownContestant" %}
            <h2 class="text-danger">Neznámé jméno účastníka</h2>
            <p class="lead">
                Pro generování týmů, výpočet skóre a alespoň nějakou kontrolu, je potřeba, aby všichni účastníci byli
                napsáni v seznamu účastníků. A to i když se účastnili jen jedné hry nebo šlo o organizátora.
            </p>

        {% else %}
            <h2 class="text-danger">Něco se pokazilo</h2>

        {% endif %}
        <code>{{ exception }}</code>
    </div>
{% endblock %}
