{% macro form_input_field(field, label="", placeholder="", autofocus=False, autocomplete="on", div_class="mb-3", input_group_text_start="", input_group_text_end="") %}
    {% if field %}
        <div class="{{ div_class }}">
            {% if label %}<label for="{{ field.id }}">{{ label }}</label>{% endif %}
            <div class="has-validation {{ "input-group" if input_group_text_start or input_group_text_end }}">
                {% if input_group_text_start %}<span class="input-group-text">{{ input_group_text_start }}</span>{% endif %}
                {{
                    field(
                        class="form-control" + (" is-invalid" if field.errors else ""),
                        placeholder=placeholder,
                        autocomplete=autocomplete,
                        autofocus=autofocus
                    )
                }}
                {% if input_group_text_end %}<span class="input-group-text">{{ input_group_text_end }}</span>{% endif %}
                <div class="invalid-feedback">
                    {% for error in field.errors %}
                        {{ error }}{% if not loop.last %}<br>{% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro form_select_field(field, label="", placeholder="", autofocus=False, div_class="mb-3", input_group_text_start="", input_group_text_end="") %}
    {% if field %}
        <div class="{{ div_class }}">
            {% if label %}<label for="{{ field.id }}">{{ label }}</label>{% endif %}
            <div class="has-validation {{ "input-group" if input_group_text_start or input_group_text_end }}">
                {% if input_group_text_start %}<span class="input-group-text">{{ input_group_text_start }}</span>{% endif %}
                    <select name="{{ field.name }}" class="form-select {{ "is-invalid" if field.errors else "" }} {{ "autofocus" if autofocus }}">
                        {% if placeholder %}<option {{ "selected" if not field.data }}>{{ placeholder }}</option>{% endif %}
                        {% for val, label, selected in field.iter_choices() %}
                            {{ field.widget.render_option(val, label, selected) }}
                        {% endfor %}
                    </select>
                {% if input_group_text_end %}<span class="input-group-text">{{ input_group_text_end }}</span>{% endif %}
                <div class="invalid-feedback">
                    {% for error in field.errors %}
                        {{ error }}{% if not loop.last %}<br>{% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro single_button_form(label, action, class="btn btn-primary") %}
    <form method="POST" action="{{ action }}">
        <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
        <button type="submit" class="{{ class }}">{{ label }}</button>
    </form>
{% endmacro %}


{% macro navlink(view, label) %}
    <a href="{{ url_for(view) }}" class="nav-link {{ "active" if request.endpoint == view }}">{{ label }}</a>
{% endmacro %}
