{% extends "layout.html" %}

{% block container_class %}container-fluid mt-5{% endblock %}

{% block content %}
    <div class="mt-3">
        <table class="table-header-rotated">
            <tr>
                <th></th>
                {% for person_col in contestants %}<th class="rotate"><div><span>{{ person_col.name }}</span></div></th>{% endfor %}
            </tr>
            {% for person_row in contestants %}
            <tr>
                <th class="row-header">{{ person_row.name }}</th>
                {% for person_col in contestants %}
                    {% if person_row == person_col %}
                        <td>-</td>
                    {% else %}
                        {% set affinity = affinities.pair_affinity(person_col, person_row) %}
                        <td style="background: hsl({{ (1 - affinity / max_affinity) * 240 }}, 100%, 90%)">{{ affinity }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

{% block head %}
    <style>
        .table-header-rotated {
            border-collapse: collapse;
        }
        .table-header-rotated td {
            width: 30px;
        }
        .table-header-rotated th {
            padding: 5px 10px;
        }
        .table-header-rotated td {
            text-align: center;
            padding: 10px 5px;
            border: 1px solid #ccc;
        }
        .table-header-rotated th.rotate {
            height: 140px;
            white-space: nowrap;
        }
        .table-header-rotated th.rotate > div {
            -webkit-transform: translate(25px, 50px) rotate(315deg);
                -ms-transform: translate(25px, 50px) rotate(315deg);
                    transform: translate(25px, 50px) rotate(315deg);
            width: 30px;
        }
        .table-header-rotated th.rotate > div > span {
            border-bottom: 1px solid #ccc;
            padding: 5px 10px;
        }
        .table-header-rotated th.row-header {
            padding: 0 10px;
            border-bottom: 1px solid #ccc;
        }
    </style>
{% endblock %}
