{% extends "layout.html" %}
{% from "macros.html" import form_input_field, form_select_field, single_button_form %}

{% block content %}
    <div class="mt-3 p-4 text-center bg-light">
        <a href="{{ sheet_url }}" target="_blank">{{ sheet_url }}</a>
    </div>

    <h2 class="mt-5">Výsledky</h2>
    {{ single_button_form("Přepočítat", url_for(".leaderboard"), class="btn btn-warning") }}

    <div class="row mt-5">
        <div class="col">
            <h2>Přidat list pro novou hru</h2>
            <form method="POST">
                {{ new_game_form.hidden_tag() }}
                {{ form_input_field(new_game_form.name, "Název hry") }}
                {{ form_input_field(new_game_form.number_of_teams, "Počet týmů") }}
                <button type="submit" class="btn btn-primary" formaction="{{ url_for(".create") }}">Vytvořit a rozdělit hráče</button>
                <button type="submit" class="btn btn-secondary" formaction="{{ url_for(".create_empty") }}">Vytvořit prázdný list</button>
            </form>
        </div>
        <div class="col text-end">
            <h2>Doplnit týmy do existujícího listu</h2>
            <form method="POST" action="{{ url_for(".fill_in") }}">
                {{ fill_in_game_form.hidden_tag() }}
                {{ form_select_field(fill_in_game_form.worksheet_id, "Hra", placeholder="Vyber hru, kterou chceš doplnit") }}
                <button type="submit" class="btn btn-primary">Doplnit hráče</button>
            </form>
        </div>
    </div>

    <h2 class="mt-5">Naplánované hry</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Název hry</th>
                <th scope="col">Počet týmů</th>
                <th scope="col">Počet hráčů</th>
                <th scope="col">Vyplněné skóre</th>
            </tr>
        </thead>
        <tbody>
            {% for game in gamestate.games %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ game.name }}</td>
                    <td>{{ game.teams | length }}</td>
                    <td>{{ game.get_participants() | length }}</td>
                    <td>{{ "Ano" if game.scores else "Ne" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2 class="mt-5">Seznam účastníků</h2>
    <div class="row">
        {% for on_pause in (False, True) %}
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">{{ "Účastnící se další hry" if not on_pause else "Na střídačce" }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for person in gamestate.contestants if person.on_pause == on_pause %}
                            <tr class="{{ "table-warning" if person.hide }}">
                                <th scope="row">{{ loop.index }}</th>
                                <td>{{ person.name }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>
{% endblock %}
